<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/492b9e68-747a-4ed1-82c8-b888a9d039eb/resourcegroups/K8tcluster/providers/Microsoft.ContainerRegistry/registries/worpressk8t20181001112227</ResourceId>
    <ResourceName>worpressk8t20181001112227</ResourceName>
    <ResourceGroup>K8tcluster</ResourceGroup>
    <Subscription>Microsoft Azure Internal Consumption</Subscription>
    <RegistryUrl>https://worpressk8t20181001112227.azurecr.io/</RegistryUrl>
    <UserName>worpressk8t20181001112227</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>71b548fc-3d84-4372-878c-866bed0bb780</ProjectGuid>
  </PropertyGroup>
</Project>